<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/dashboard.css">
     <link rel="stylesheet" href="../styles/program_editor.css">
    <title>Program editor</title>
</head>
<body>
    <%- include('partials/manager_navigation') %>
    
    <section class="main_content" id="mainContent">
        <%- include('partials/topbar') %>
        <section class="add_program">
            <h1>Event Program</h1>
            <button class="item" onclick="openForm()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                Add Item
            </button>
            <button class="export" onclick="exportProgram()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
                </svg>
                export Program
            </button>
        </section>
        <section class="Program_schedule" id="programSchedule">
            <% if(event && event.sessions.length > 0) { %>
                <% event.sessions.forEach(session => { %>
            <section class="Program-section" data-id="<%= session._id %>">
                <p class="time"><%= new Date(session.startTime).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %></p>
                <p class="duration"><%
                const durationMinutes = Math.round((new Date(session.endTime) - new Date(session.startTime)) / 60000);
                const hours = Math.floor(durationMinutes / 60);
                const minutes = durationMinutes % 60;
                %>
            <%= hours > 0 ? `${hours}h ${minutes}min` : `${minutes}min` %></p>
                <h4 class="title"><%= session.title %></h4>
                <p class="description"><%= session.description %></p>
                <P class="vanue">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                    </svg>
                    <%= session.location %>
                </P>
                <span class="cartegory"><%= session.speaker %></span>
                <!-- <button class="edit">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                    </svg>
                </button> -->
                <button class="delete" onclick="deleteSession('<%= session.sessionId %>')">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                </button>
                <p class="endtime"><%= new Date(session.endTime).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %></p>

            </section>
             <% }) %>
             <% } %>
          
        
            
        </section>
        <section class="modal" id="popup" style="display: none;">
            <form class="pop_section" method="post" action=""">
                <section>
                    <h5>Title</h5>
                    <input name="title" type="text" placeholder="title" required>
                </section>
                <section>
                    <h5>Speaker</h5>
                    <input name="Speaker" type="text" placeholder="e.g John Doe" required>
                </section>
                <section>
                    <h5>Start Time</h5>
                    <input name="start_time" type="time" required>
                </section>
                <section>
                    <h5>End Time</h5>
                    <input name="end_time" type="time" required>
                </section>
                <section>
                    <h5>Location</h5>
                    <input name="location" type="text" placeholder="Event Location" required>
                </section>
                <section>
                    <h5>Description</h5>
                    <input name="description" type="text" placeholder="Event Description" required>
                </section>
                <button type="button" class="cancel" onclick="closeForm()">Cancel</button>
                <button>Add Item</button>
            </form>
        
        </section>
    
    </section>
    
    <script src="../scripts/sidebar.js"></script>
    <script src="../scripts/program_editor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

    
</body>

</html>
